html{
    margin:0 auto;
    background-size: 100% auto;
    background-color:#ffffff;
    background-image:url(bg.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    color:lightgreen;
}
