html{
    margin:0 auto;
    background-size: 100% auto;
    background-color:#ffffff;
    background-image:url(loading.png);
    background-repeat:no-repeat;
    background-attachment:fixed;

}
html{
    color:lightgreen;
    
}